/* config geral css */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

/* cores da pagina */
:root {
    --green: #2E8B57;
    --blue: #4169E1;
    --grey: #D3D3D3;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 500px;
    background: var(--green);
}

/* configuracao de tamanho de telas mobile ou monitores */
.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 30px;
    color: var(--grey);
    cursor: pointer;
}

.brand:hover {
    color: var(--blue);
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

nav u li a {
    color: var(--grey);
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--blue);
}

nav ul button {
    border: 1px solid var(--grey);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color: var(--grey);
    font-weight: bold;
    border-radius: 4px;

}

nav ul button:hover {
    transition: backround, color 0.6s;
    background: var(--blue);
    color: white;
    
}

.content .header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: var(--blue);
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);

    position: relative;
    z-index: 10;
    padding: 10px;

}

.header-block img {
    width: 50%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}


.header-block .text {
    position: absolute;
    bottom: 30%;
    left: 15%;
}

.header-block h2 {
    color: white;
    margin-bottom: 20px;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.5s;

}

.header-block .text p {
    max-width: 280px;
    color: white;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.4s;

}


section .filter-card {
    width: 980px;
    height: 150px;
    background: var(--grey);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.search-input {
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 4px 0px 0xp 4px;
    text-indent: 10px;
}

.search-button {
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: var(--green);
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s ease;

}

.search-button:hover {
    background: var(--grey);
    color: black;

}

.tittle-wrapper-catalogo {
    margin-top: 200px;
    padding-bottom: 20px;
}

section .card-wrapper {
    max-width: 100px;
    height:  100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;

}

section .card-item {
    height: 400px;
    background: var(--grey);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: space-around;

}

.card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: space-around;
}

.card-item img {
    width: 85%;
}

.card-item h4 {
    width: 90%;
}

.card-item p {
    width: 90%;
    font-style : italic;
    color: black;
}


/* Config Sobre Nos */

.sobre {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.sobre-content {
    max-width: 1000px;
    min-width: 300px;
    height: 600px; 
    background: #dedede3b;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: space-between;
}

.sobre-content img {
    width: 80%;
}

